---
import Layout from "../layouts/Layout.astro";
import ImageSegment from "../components/ImageSegment.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ImageSegment />
  </main>
</Layout>
