---
import Layout from "../layouts/Layout.astro";
// import ColorPicker from '../components/ColorPicker.astro';
// import ColorPicker from '../components/ctry.astro';
import ColorPicker from "../components/ImageSegment.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <ColorPicker />
  </main>
</Layout>
