---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Info from '../components/Info.astro';
import Photo from '../components/Photo.astro';
import Cta from '../components/Cta.astro';
---

<Layout title="Welcome to Astro.">
		<main>
		<Hero />
		<Info />
		<Photo />
		<Cta />
		</main>
</Layout>

