---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";

import Land from "../components/Photo.astro";
---

<Layout title="MyColorType">
  <main>
    <Landing />
    <Land />
  </main>
</Layout>
