---
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
---

<Layout title="MyColorType">
  <main>
    <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
    <Landing />
  </main>
</Layout>
