---

---

<div class="container mx-auto p-10 bg-white">
  <div class="container bg-white mx-auto h-auto flex-auto">
    <h1 class="font-semibold font-sans-serif text-center text-5xl pb-8">
      Color picker
    </h1>
    <p class="text-center text-3xl">Color picker</p>
  </div>
</div>

<form
  class="m-2 rounded-md p-2 sm:container *:w-full sm:m-auto sm:flex sm:flex-row-reverse"
>
  <figure
    class="relative border rounded-md focus-within:border-blue-800 h-min-30"
  >
    <label>
      <input
        type="file"
        id="fileInput"
        class="sr-only"
        accept="image/*"
        required
      />
      <div
        id="uploadCTA"
        class="flex items-center size-full justify-center bg-gray-50 border border-gray-300 rounded-lg overflow-hidden p-3 h-max-30"
      >
        <p class="mt-1 text-sm text-gray-500 text-center p-3">Upload photo</p>
      </div>
      <div
        id="previewContainer"
        class="hidden items-center justify-center bg-gray-50 border border-gray-300 rounded-lg overflow-hidden p-3 h-max-30"
      >
        <img
          id="previewImage"
          src=""
          alt="Image preview"
          class="object-contain max-w-full max-h-screen size-full"
        />
        <figcaption class="sr-only">Uploaded Image</figcaption>
      </div>
    </label>
  </figure>
  <div class="flex border rounded-md flex-col sm:p-4">
    <label class="flex flex-col">
      <span> Picker </span>
      <input type="range" min="1" max="100" value="50" id="picked" />
    </label>
    <label>
      <span> Pallet </span>
      <ul class="space-y-2">
        <li>
          <fieldset>
            <label class="flex w-full flex-row">
              <ul
                class="flex w-full rounded-md border *:h-full *:w-full *:flex-1"
              >
                <li>
                  <input type="color" class="size-full border-spacing-0" />
                </li>
                <li>
                  <input type="color" class="size-full border-spacing-0" />
                </li>
                <li>
                  <input type="color" class="size-full border-spacing-0" />
                </li>
                <li>
                  <input type="color" class="size-full border-spacing-0" />
                </li>
              </ul>
              <div class="flex flex-col">
                <button type="button">+</button>
                <button type="button">-</button>
              </div>
            </label>
          </fieldset>
        </li>
      </ul>
    </label>
  </div>
</form>

<script>
  import "../scripts/photoUpload.js";
</script>
