---
import { AnalysisResults } from "./AnalysisResults";
import { SeasonResults } from "./SeasonResults";
---

<h1>Segmenting images using the MediaPipe Image Segmentation Task</h1>

<section id="demos" class="invisible">
  <AnalysisResults client:only type="colors" />
  <AnalysisResults client:only type="img1" />
  <SeasonResults client:only type="video_season" />
  <SeasonResults client:only type="img_season" />
  <h2>Demo: Segmenting Images</h2>
  <p><b>Click on an image below</b> to see its Segmentation.</p>
  <div class="segmentOnClick">
    <canvas class="removed"></canvas>
    <img
      src="/public/gaga.jpg"
      crossorigin="anonymous"
      title="Click to get segmentation!"
    />
    <p class="classification removed"></p>
  </div>
  <div class="segmentOnClick">
    <canvas class="removed"></canvas>
    <img src="" crossorigin="anonymous" title="Click to get segmentation!" />
    <p class="classification removed"></p>
  </div>

  <div class="webcam">
    <button id="webcamButton" class="form-input">ENABLE WEBCAM</button>
    <video id="webcam" autoplay style="display: none;"></video>
    <canvas id="canvas" width="1280px" height="720px"></canvas>
  </div>
  <div class="blend-shapes">
    <ul class="blend-shapes-list" id="image-blend-shapes"></ul>
  </div>
</section>
<style>
  video {
    clear: both;
    display: block;
  }
  canvas {
    clear: both;
    display: block;
  }

  section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  .removed {
    display: none;
  }

  .invisible {
    opacity: 0.2;
  }

  .videoView,
  .segmentOnClick {
    position: relative;
    float: left;
    width: 48%;
    margin: 2% 1%;
    cursor: pointer;
  }

  .segmentOnClick p {
    padding: 5px;
    background-color: #007f8b;
    color: #fff;
    z-index: 2;
    font-size: 12px;
    margin: 0;
  }

  .segmentOnClick {
    z-index: 0;
  }

  .segmentOnClick canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }

  .segmentOnClick img {
    width: 100%;
  }
</style>

<script>
  import "../scripts/segmentation.ts";
</script>
