---
import ImageUploadContainer from "../components/ImageUploadContainer";
import CommentSection from "../components/Comments.astro";
---

<!-- Header -->
<header class="bg-primary-plum text-white py-4">
  <div class="container mx-auto flex justify-between items-center px-4">
    <h1 class="text-2xl font-bold">MyColorType</h1>
    <nav>
      <button class="md:hidden bg-primary-mauve p-2 rounded">Menu</button>
      <ul class="hidden md:flex space-x-10 font-medium">
        <li>
          <a href="#startanalysis" class="hover:text-accent-gold"
            >How to start</a
          >
        </li>
        <li>
          <a href="#coloranalysis" class="hover:text-accent-gold"
            >Color Analysis</a
          >
        </li>
        <li><a href="#features" class="hover:text-accent-gold">Features</a></li>
        <li><a href="#contact" class="hover:text-accent-gold">Contact</a></li>
      </ul>
    </nav>
    <button
      class="hidden md:block px-5 py-2 text-white rounded-full text-lg transition-colors bg-gradient-to-r from-accent-gold to-primary-plum hover:from-accent-rose hover:to-primary-mauve"
    >
      Get Started
    </button>
  </div>
</header>

<!-- Hero Section -->
<div class="bg-gradient-to-r from-primary-sand to-white">
  <section
    class="container mx-auto px-6 py-12 relative overflow-hidden md:overflow-visible"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
      <!-- Left Column -->
      <div
        class="space-y-6 pb-5 pt-2 sm:pb-8 sm:pt-24 md:pb-8 md:pt-8 relative z-10"
      >
        <h1
          class="font-display text-balance text-5xl/[0.9] font-normal tracking-tight text-primary-plum md:text-6xl/[0.9] lg:text-8xl/[0.9]"
        >
          Discover Your<br />
          Perfect<br />
          Color Palette
        </h1>
        <p class="text-primary-mauve text-lg max-w-md lg:text-2xl text-pretty">
          Transform your style with professional color analysis. Learn which
          colors make you look and feel your absolute best.
        </p>
        <button
          class="px-7 py-4 text-white rounded-full text-lg transition-colors bg-gradient-to-r from-accent-gold to-primary-plum hover:from-primary-mauve hover:to-primary-plum"
        >
          GET STARTED
        </button>
      </div>
      <!-- Right Column - Image (bg on mobile) -->
      <!-- Mobile version -->
      <div class="absolute inset-0 block md:hidden z-0">
        <img
          src="public/pics/AI_color.jpg"
          alt="Color Palette Illustration"
          class="absolute inset-0 h-auto transform scale-x-[-1] translate-x-1/2 opacity-50 m-auto"
        />
      </div>
      <!-- Desktop version -->
      <div class="hidden md:block">
        <img
          src="public/pics/AI_color.jpg"
          alt="Color Palette Illustration"
          class="w-full h-auto rounded-3xl"
        />
      </div>
    </div>
  </section>
</div>
<!-- Custom shape divider -->
<div class="custom-shape-divider-top-1735495376">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#F5E6E8"></stop>
        <stop offset="100%" stop-color="#FFFFFF"></stop>
      </linearGradient>
    </defs>
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
      fill="url(#gradient)"></path>
  </svg>
</div>

<!-- Journey section -->
<div class="mx-auto mt-12 max-w-7xl px-6 sm:mt-24 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-base/7 font-semibold text-accent-gold">
      Your Journey to Confidence
    </h2>
    <p
      class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-primary-plum sm:text-5xl lg:text-balance"
    >
      Are you tired of wasting money on clothes that never get worn?
    </p>
    <p class="mt-6 text-pretty text-lg/8 text-primary-mauve">
      When you wear the right colors, everything changes. It's not just about
      looking good—it's about feeling amazing
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
    <dl
      class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16"
    >
      <div class="relative pl-16">
        <dt class="text-base/7 font-semibold text-primary-plum">
          <div
            class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-accent-gold"
          >
            <svg
              class="size-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z"
              ></path>
            </svg>
          </div>
          Confidence
        </dt>
        <dd class="mt-2 text-base/7 text-primary-mauve">
          You'll walk into every room feeling radiant
        </dd>
      </div>

      <div class="relative pl-16">
        <dt class="text-base/7 font-semibold text-primary-plum">
          <div
            class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-accent-gold"
          >
            <svg
              class="size-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
              ></path>
            </svg>
          </div>
          Authenticity
        </dt>
        <dd class="mt-2 text-base/7 text-primary-mauve">
          Your wardrobe will reflect your personality and values.
        </dd>
      </div>

      <div class="relative pl-16">
        <dt class="text-base/7 font-semibold text-primary-plum">
          <div
            class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-accent-gold"
          >
            <svg
              class="size-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              ></path>
            </svg>
          </div>
          Freedom
        </dt>
        <dd class="mt-2 text-base/7 text-primary-mauve">
          No more second-guessing or settling for 'good enough.'
        </dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base/7 font-semibold text-primary-plum">
          <div
            class="absolute left-0 top-0 flex size-10 items-center justify-center rounded-lg bg-accent-gold"
          >
            <svg
              class="size-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
              ></path>
            </svg>
          </div>
          Transformation
        </dt>
        <dd class="mt-2 text-base/7 text-primary-mauve">
          Use your palette to shop smarter and dress with ease.
        </dd>
      </div>
    </dl>
  </div>
</div>

<!-- Steps section -->
<section
  id="startanalysis"
  class="bg-gradient-to-r from-primary-sand to-white text-center py-16 px-4 relative"
>
  <div class="container mx-auto max-w-4xl">
    <h2 class="text-3xl md:text-4xl font-bold text-primary-plum mb-4">
      Colors are powerful—let’s find the ones that empower you
    </h2>
    <p class="text-primary-mauve text-base md:text-lg mb-12 max-w-2xl mx-auto">
      Analyze colors that define you, your personality and your style.
    </p>
    <!-- step1 -->
    <div class="grid md:grid-cols-3 gap-8 text-left max-w-3xl mx-auto">
      <div
        class="bg-primary-sand rounded-lg p-6 shadow-sm transition-transform hover:scale-105"
      >
        <div class="text-accent-gold font-semibold text-xl mb-3">Step 1</div>
        <p class="text-primary-mauve">
          Take a clear selfie in natural lighting that shows your face and hair.
          Avoid harsh shadows or artificial lighting for best results.
        </p>
      </div>
      <!-- step2 -->
      <div
        class="bg-primary-sand rounded-lg p-6 shadow-sm transition-transform hover:scale-105"
      >
        <div class="text-accent-gold font-semibold text-xl mb-3">Step 2</div>
        <p class="text-primary-mauve">
          Upload your photo or use your device's camera to take a new selfie
          directly in the section below.
        </p>
      </div>
      <!-- step3 -->
      <div
        class="bg-primary-sand rounded-lg p-6 shadow-sm transition-transform hover:scale-105"
      >
        <div class="text-accent-gold font-semibold text-xl mb-3">Step 3</div>
        <p class="text-primary-mauve">
          Discover your personalized color palette that complements your natural
          features and enhances your unique style.
        </p>
      </div>
    </div>
  </div>
  <div class="custom-shape-divider-top-1735509263">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"></path>
    </svg>
  </div>
</section>
<div class="custom-shape-divider-top-1735495376">
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
  >
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#F5E6E8"></stop>
        <stop offset="100%" stop-color="#FFFFFF"></stop>
      </linearGradient>
    </defs>
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"
      fill="url(#gradient)"></path>
  </svg>
</div>
<!-- ImageUploadContainer -->
<section class="py-16 px-4">
  <div class="container mx-auto max-w-4xl">
    <hgroup class="text-center">
      <h2 class="text-3xl md:text-4xl font-bold text-primary-plum mb-4">
        Discover Your Perfect Palette
      </h2>
      <p class="text-primary-mauve text-base md:text-lg mb-2 max-w-2xl mx-auto">
        Analyze colors that define you, your personality and your style.
      </p>
    </hgroup>
    <ImageUploadContainer client:load />
  </div>
</section>

<!-- What is color analysis -->
<div id="coloranalysis" class="bg-white py-24 md:pt-16 bottom-auto">
  <div class="relative isolate">
    <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
      <h2
        class="text-pretty text-4xl font-semibold tracking-tight text-center text-primary-plum sm:text-5xl"
      >
        What Is Color Analysis?
      </h2>
      <div
        class="mx-auto flex max-w-2xl flex-col gap-16 px-6 py-16 ring-accent-rose sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20"
      >
        <img
          class="h-96 w-full flex-none rounded-2xl object-cover shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm"
          src="public/pics/happywomen.jpeg"
          alt="Happy woman smiling around beautiful colors"
        />
        <div class="w-full flex-auto">
          <p class="mt-6 text-pretty text-lg/8 text-primary-mauve">
            Color analysis is a personalized approach to uncover the shades and
            tones that best complement your natural features—your skin tone, eye
            color, and hair.
          </p>
          <div class="mt-10 flex">
            <a href="/blog" class="text-sm/6 font-semibold text-accent-gold">
              Read more in our blog <span aria-hidden="true">&rarr;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl"
      aria-hidden="true"
    >
      <div
        class="aspect-[1318/752] w-[82.375rem] flex-none bg-gradient-to-r from-primary-sand to-accent-rose opacity-25"
        style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"
      >
      </div>
    </div>
  </div>
</div>

<!-- How we do it -->
<section
  id="features"
  class="py-16 px-4 md:-top-64 bg-gradient-to-r from-primary-sand to-white"
>
  <div class="container mx-auto my-4 max-w-6xl">
    <h2
      class="my-8 text-pretty text-4xl font-semibold tracking-tight text-center text-primary-plum sm:text-5xl"
    >
      Why Choose Our Color Analysis?
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 py-8">
      <!-- Feature 1 -->
      <div
        class="group p-8 bg-white rounded-xl text-center shadow-lg transition-all duration-300 hover:shadow-xl hover:-translate-y-1"
      >
        <div class="text-primary-mauve mb-6">
          <img
            class="w-24 h-24 mx-auto rounded opacity-90"
            src="public/icons/thinking.png"
            alt="AI Analysis Icon"
          />
        </div>
        <h4 class="text-accent-gold text-xl font-bold mb-3">AI-Powered</h4>
        <p class="text-primary-mauve leading-relaxed">
          Our advanced AI technology analyzes your features to create a
          perfectly matched color palette that enhances your natural beauty.
        </p>
      </div>

      <!-- Feature 2 -->
      <div
        class="group p-8 bg-primary-sand rounded-xl text-center shadow-lg transition-all duration-300 hover:shadow-xl hover:-translate-y-1"
      >
        <div class="text-primary-mauve mb-6">
          <img
            class="w-24 h-24 mx-auto rounded opacity-90"
            src="public/icons/loved.png"
            alt="Personalization Icon"
          />
        </div>
        <h4 class="text-accent-gold text-xl font-bold mb-3">
          Personalized Approach
        </h4>
        <p class="text-primary-mauve leading-relaxed">
          Get customized color recommendations that match your skin tone, hair
          color, and personal style preferences.
        </p>
      </div>

      <!-- Feature 3 -->
      <div
        class="group p-8 bg-white rounded-xl text-center shadow-lg transition-all duration-300 hover:shadow-xl hover:-translate-y-1"
      >
        <div class="text-primary-mauve mb-6">
          <img
            class="w-24 h-24 mx-auto rounded opacity-90"
            src="public/icons/ranking.png"
            alt="Easy Use Icon"
          />
        </div>
        <h4 class="text-accent-gold text-xl font-bold mb-3">Instant Results</h4>
        <p class="text-primary-mauve leading-relaxed">
          Receive your personalized color palette instantly, complete with
          styling tips and combination suggestions.
        </p>
      </div>
    </div>
  </div>
</section>

<CommentSection />

<!-- Footer -->
<footer id="contact" class="bg-primary-plum text-white py-6 px-4">
  <div class="container mx-auto text-center">
    <p class="text-sm">&copy; 2024 MyColorType. All rights reserved.</p>
    <p class="text-sm">Made with ❤️ for color enthusiasts.</p>
  </div>
</footer>
