---
import '../styles/global.css';
---
<div class="nav-links">
  <a href="/"><span class="text-gradient">Home</span></a>
  <a href="/about/"><span class="text-gradient">About</span></a>
  <a href="/blog/"><span class="text-gradient">Blog</span></a>
</div>

<style>
.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  background-position: 0%;
}

</style>