---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <script src="https://assets.lemonsqueezy.com/lemon.js" defer></script>
  <main>
    <a
      href="https://mycolortype.lemonsqueezy.com/buy/d961fc73-eba3-42d0-898f-aa0f25d67d03?embed=1"
      class="lemonsqueezy-button">Buy Personal Color Palette</a
    >
  </main>
</Layout>
